[user]
	name = Sebastian Geidies
	email = sebastian.geidies@bcgdv.com
[push]
	default = upstream
[alias]
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  lom = log --graph --decorate --pretty=medium --abbrev-commit
  loma = log --graph --decorate --pretty=medium --abbrev-commit --all
  lomas = log --graph --decorate --pretty=medium --abbrev-commit --all --stat
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lgb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --branches
  lga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative  --all
  lgba = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --branches --all

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[http]
	sslcainfo = /Users/sgeidies/.ca_certs/ZscalerRootCertificate-2048-SHA256.pem
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[commit]
	verbose = true
