[submodule "vim/.vim/colors/monokai"]
	path = vim/.vim/colors/monokai
	url = https://github.com/sickill/vim-monokai.git
[submodule "vim/.vim/colors/phoenix"]
	path = vim/.vim/colors/phoenix
	url = https://github.com/widatama/vim-phoenix.git
[submodule "vim/.vim/bundle/vim-elixir"]
	path = vim/.vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "vim/.vim/bundle/fugitive"]
	path = vim/.vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/puppet"]
	path = vim/.vim/bundle/puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "vim/.vim/bundle/tabular"]
	path = vim/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/.vim/bundle/vagrantfile"]
	path = vim/.vim/bundle/vagrantfile
	url = https://github.com/jwhitley/Vagrantfile.vim.git
[submodule "vim/.vim/bundle/dockerfile"]
	path = vim/.vim/bundle/dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "vim/.vim/colors/sunburst"]
	path = vim/.vim/colors/sunburst
	url = https://github.com/sickill/vim-sunburst.git
[submodule "vim/.vim/colors/alduin"]
	path = vim/.vim/colors/alduin
	url = https://github.com/AlessandroYorba/Alduin.git
[submodule "vim/.vim/bundle/surround"]
	path = vim/.vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
